.article-card {
	width: 100%;
	max-width: 900px;

	border-radius: 0;
	margin: -32px auto 0;
}

@media screen and (min-width: 900px) {
	.article-card {
		border-radius: 8px;
		margin-bottom: 64px;
	}
}

.featured-image {
	margin-bottom: 32px;
	border-radius: 8px;
}

.abstract {
	font-weight: 200;
	color: var(--text-lighter);
	font-style: italic;
}
