.post-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
	grid-gap: 1rem;
	margin: 32px;
	padding: 0;
	list-style: none;
}

.post-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0;
}

.post-link {
	height: 100%;
	display: block;
	text-decoration: none;
	color: var(--text);
	outline: none;
}

.post-title {
	margin: 0 0 12px;
	padding: 32px 48px 0;
	font-weight: 400;
	font-size: 1.6rem;
	color: var(--text);
}

.post-detail {
	padding: 0 48px;
	font-weight: 300;
	color: var(--text);
}

.post-description {
	margin: 0;
	padding: 12px 48px 24px;
	font-weight: 400;
	font-size: 1.2rem;
	color: var(--text-lighter);
	line-height: 1.6rem;
}

.post-image {
	width: 100%;
	height: 120px;
	flex-grow: 1;
	display: block;
	object-fit: cover;
	border-radius: 0 0 5px 5px;
}
