.nav {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 24px;

	@media (--desktop) {
		flex-direction: row;
		padding-right: 128px;
	}
}

.title-link {
	display: flex;
	align-items: center;
	align-self: start;
	flex-shrink: 0;
	color: var(--header-text);
	text-decoration: none;

	@media (--desktop) {
		align-self: center;
	}
}

.title-image {
	width: 64px;
	border-radius: 50%;
}

.title {
	display: initial;
	margin: 0;
	padding-left: 15px;
	font-weight: 300;
	font-size: 1.6rem;
}

.nav-list {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 32px 0 0;
	padding: 0;

	list-style: none;

	@media (--desktop) {
		justify-content: flex-end;

		margin: 0;
	}
}

.list-item {
	display: inline;
	padding-left: 30px;
	margin: 0;

	&:first-child {
		padding-left: 0;
	}
}

.nav-link {
	color: var(--header-text);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.1rem;
	padding-bottom: 8px;

	&.active {
		font-weight: 700;
	}
	&:hover,
	&.active {
		border-bottom: solid var(--header-text) 3px;
	}
}
