.card {
	width: 100%;
	max-width: 700px;

	margin: -32px auto 0;

	border-radius: 0;
}

@media screen and (min-width: 700px) {
	.card {
		border-radius: 8px;
	}
}

.search-label {
	display: block;
	margin-bottom: 32px;
	font-size: 1.4rem;
	font-weight: 400;
	font-family: var(--serif-font);
}

.search-input {
	height: 48px;
	width: 100%;
	padding: 4px 16px;

	display: block;
	margin-top: 12px;
	background: var(--background-soft);
	border-radius: 16px;
	border: 1px var(--text-soft) solid;
	line-height: 32px;
	color: var(--text-light);

	&:focus {
		border: 3px var(--primary) solid;
		outline: none;
	}
}
