.card {
	width: 90%;
	max-width: 700px;

	margin: -32px auto 0;
}

.search-label {
	display: block;
	margin-bottom: 32px;
	font-size: 1.4rem;
	font-weight: 400;
	font-family: var(--serif-font);
}

.search-input {
	width: 100%;

	display: block;
	margin-top: 12px;
}
