.title {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 0 64px;

	font-weight: 700;
	font-size: 3rem;
	color: var(--header-text);
	text-align: center;
}

@media (--desktop) {
	.title {
		text-align: left;
	}
}

.sub-text {
	display: block;
	padding-top: 16px;
	font-size: 0.9rem;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: var(--header-text);
}
