:root {
  /* Main primary color */
  --primary-transparent: #00796b15;
  --primary: #00796b;
  --dark-primary: #004c40;

  --header-bg: var(--primary);
  --header-text: #fdfdfd;

  --background: #f0f0f0;
  --card: #fcfcfc;

  --text: #333;
  --text-light: #444;
  --text-lighter: #555;

  --serif-font: "Bree Serif", serif;
  --sans-serif-font: "Fira Sans", sans-serif;
  --animation-speed: 0.2s;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text);
}

a {
  color: var(--dark-primary);
}
a:focus {
  outline: 2px var(--dark-primary) solid;
}

blockquote {
  padding-left: 0.75rem;
  margin-left: 0.75rem;
  border-left: solid var(--text-lighter) 3px;
}

hr {
  background: var(--text-lighter);
}

code {
  background: var(--background);
}
